.stack-work/
dist-newstyle/
.idea/
stack.yaml.lock
*~
/.vscode/
Hastructure-exe
.vscode
test/t3.json
client_session_key.aes
.gitignore
app/Main.dyn_hi
app/Main.dyn_o
app/Main.hi
app/Main.o
app/Main
Untitled.ipynb
.gitignore
.ipynb_checkpoints/Untitled-checkpoint.ipynb
publish.sh
.DS_Storel4n
.clj-konodo
.github
